<% var today = new Date().toISOString().replace(/T.+/, ''); %>
<% var oldevent = []; %>
<% var newevent = []; %>
<% events.forEach(function(item) { %>
  <% if (item.date > today) { %>
    <% newevent.push(item); %>
  <% } else { %>
    <% oldevent.push(item); %>
  <% } %>
<% }); %>
<% var sortByProperty = function (property) { %>
    <% return function (x, y) { %>
      <%  return ((x[property] === y[property]) ? 0 : ((x[property] > y[property]) ? 1 : -1)); %>
    <% }; %>
<% }; %>
<% var rsortByProperty = function (property) { %>
    <% return function (x, y) { %>
      <%  return ((x[property] === y[property]) ? 0 : ((x[property] < y[property]) ? 1 : -1)); %>
    <% }; %>
<% }; %>
<% newevent.sort(sortByProperty('date')); %>
<% oldevent.sort(rsortByProperty('date')); %>

<div id="ev_upcoming">
<font size="6">Upcoming Training Events:</font>
  <hr>
  <% if (newevent.length === 0) { %>
    <br>
    <center><font size="4">Please Check Back Soon for Upcoming Training Events Near You!</font></center>
  <% } else { %>
    <% newevent.forEach(function(item) { %>
      <div class="container">
        <div class="ev_up_words">
        <%- item.descrip %>
        </div>
        <div class="ev_up_list">
          <font size="5"><%= item.where %></font></br>
          <font size="4"><%= item.with %></br>
            <p></p>
            <%= item.when %></font></br>
            <img src="images/events/event <%= item.pic %>.jpg"></br>
            <a target="_blank" href="<%= item.links[0] %>">Register Online</a><br>
            <a target="_blank" href="<%= item.links[1] %>">Book Hotel</a><br>
            <a target="_blank" href="<%= item.links[2] %>">Book Flight</a>
          </div>
        </div>
      <hr style="height:5px;border:none;color:blue;background-color:blue;" />
    <% }); %>
  <% } %>
</div>

<div id="ev_upcoming">
<font size="6">Past Training Events:</font>
  <hr>
<% oldevent.forEach(function(item) { %>
  <div class="container">
    <div class="ev_up_words">
    <%- item.descrip %>
    </div>
    <div class="ev_up_list">
      <font size="5"><%= item.where %></font></br>
      <font size="4"><%= item.with %></br>
        <p></p>
        <%= item.when %></font></br>
        <img src="images/events/event <%= item.pic %>.jpg"></br>
        <a target="_blank" href="<%= item.links[0] %>">Register Online</a><br>
        <a target="_blank" href="<%= item.links[1] %>">Book Hotel</a><br>
        <a target="_blank" href="<%= item.links[2] %>">Book Flight</a>
      </div>
    </div>
  <hr style="height:5px;border:none;color:blue;background-color:blue;" />
    <% }); %>
</div>
